body{
  font-family: arial;
  font-weight: bold;
  transition: background, 1s;
}
.white{
  background-color: rgba(255, 255, 255, 0.95);
}
.black{
  background-color: rgba(0, 0, 0, 0.95);
}
a{
  pointer-events: auto;
}
button{
  pointer-events: auto;
}



.backgroundColorImage{
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 0;
  border-radius: 30px;
  border: none;
}
.backgroundColorButton{
  position: fixed;
  left: 15px;
  top: 15px;
  height: 80px;
  width: 80px;
  padding: 0;
  border-radius: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.blackImg{
  background-color: rgba(0, 0, 0, 0.4);
}



.accountsDiv{
  background: rgba(100, 100, 100, 0.5);
  --width: 575px;
  --height: 900px;
  width: var(--width);
  height: var(--height);
  margin-left: calc(50vw - (var(--width) / 2));
  margin-top: calc(50vh - (var(--height) / 2));
  border-radius: 50px;
}

.name{
  font-size: 60px;
  text-align: center;
  margin-top: 0;
}
.img{
  --width: 140px;
  height: var(--width);
  width: var(--width);
  margin: 15px;
  margin-left: calc(50% - (var(--width) / 2));
  border-radius: 100%;
}

.account{
  --width: 500px;
  height: 70px;
  width: var(--width);
  margin-left: calc(575px / 2 - (var(--width) / 2));
  justify-content: center;
  position: relative;
  display: flex;
  background: rgba(122, 122, 122, 0.5);
  border-radius: 100px;
  cursor: pointer;
  justify-self: center;
  transition: background-color 0.4s, margin-bottom 0.7s;
}
.accounts{
  text-decoration: none;
}
.accImg{
  position: absolute;
  left: 10px;
  --height: 50px;
  height: var(--height);
  align-self: center;
  margin-top: 5px;
}
.account:hover{
  background-color: rgba(160, 160, 160, 0.5);
}
.accTitle{
  color: white;
  display: inline-block;
  font-size: 25px;
  margin-top: 20px;
}


.blackColor{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 1s;
  pointer-events: none
}
